@import "headerandfooter.less";

// Variables
@bg-light: #f8f8f8;
@bg-gray-light: #eeeeee;
@bg-negro: #000000;
@bg-negro-light: #242424;
@bg-dorado: #ac8859;
@text-color: #fff;
@hover-color: #a97736;
@transparent: transparent;
@text-size-logo-high: 3rem;
@text-size-logo-medium: 1.5rem;
@text-size-logo-small: 1rem;
@text-size-title-small: 0.9rem;
@text-size-subtitle-small: 0.7rem;
@padding-high: 30px;
@padding-low: 10px;
@price-color: #f00;
@hover-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

// Imagenes
@img-portada: "/img/fenty-img.png";
@img-fenty-negro: "/img/Zapatillas-Creeper-Phatty-Corduroy-negro.png";
@img-fenty-rojo: "/img/Zapatillas-Creeper-Phatty-Corduroy-red.png";

.fenty-principal {
    position: relative;

    background-image: url("@{img-portada}");
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    min-height: 500px;
}

.producto-negro,
.producto-rojo {
    width: 300px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    // Efecto de hover
    &:hover {
        box-shadow: @hover-shadow;
        transform: scale(1.05);
    }
}

.img-producto-negro {
    background-image: url("@{img-fenty-negro}");
    background-size: cover; 
    background-position: center; 
    min-width: 250px; 
    min-height: 250px; 
}

.img-producto-rojo {
    background-image: url("@{img-fenty-rojo}");
    background-size: cover; 
    background-position: center; 
    min-width: 250px; 
    min-height: 250px; 
}