@import "headerandfooter.less";

@mujeres-font: 'Arial Narrow', 'Arial', sans-serif;
@mujeres-primary-color: #000;
@mujeres-accent-color: #d70024;

.container-mujeres-shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  // Estilo para pantallas más pequeñas
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Columna única en pantallas pequeñas
  }
}

.mujeres-item-shop {
  border-radius: 10px;
  min-height: 400px; // Asegura una altura mínima para alinear los productos de forma uniforme
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Asegura que los contenidos internos estén bien distribuidos

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  }

  .figura-mujeres-shop {
    overflow: hidden;
  }

  .imagen-mujeres-shop {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.info-producto-shop {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between; // Asegura buena separación entre los elementos

  .titulo-mujeres-shop,
  .marca-mujeres-shop,
  .color-mujeres-shop {
    font-weight: bold;
    color: @mujeres-primary-color;
    font-family: @mujeres-font;
  }

  .titulo-mujeres-shop {
    font-size: 25px;
  }

  .marca-mujeres-shop {
    font-size: 18px;
  }

  .color-mujeres-shop {
    font-size: 16px;
  }
}

.precio-mujeres-shop {
  font-weight: bold;
  font-size: 0.88em;
  font-family: @mujeres-font;
  color: @mujeres-accent-color;
}

.boton-compra-mujeres {
  border: none;
  background-color: @mujeres-primary-color;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: lighten(@mujeres-primary-color, 10%); // Un tono más claro al hacer hover
  }
}

.carrito-vacio-mujeres {
  padding: 20px;
  text-align: center;
}

.hidden-mujeres {
  display: none;
}