@import "headerandfooter.less";

/* Variables Bienvenida y Section*/
@primary-color: #000000;
@secondary-color: #333;
@light-gray: #f4f4f4;
@font-family: 'Arial', sans-serif;
@btn-color: #fff;
@carrusel-width: auto;
@carrusel-height: 500px;
@transition-time: 0.5s;

.body-section {
  h2 {
    display: flex;
    justify-content: center;
  }
}

// Botones
.btn {
  background-color: @primary-color;
  color: @btn-color;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: darken(@primary-color, 10%);
  }
}

// Sección de bienvenida
.welcome-section {
  text-align: center;
  padding: 150px 0;
  background-image: url('../img/fando-inicio.jpg'); /* Agregando la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la sección */

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

// Sección de productos
.products-section {
  background-color: white;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  background-image: url('../img/fondo5.png'); /* Agregando la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la sección */

  .product {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: @light-gray;
    text-align: center;
    border: 1px solid @secondary-color;

    img {
      width: 320px;
      height: 350px;
  }

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
    }

    .price {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      color: @primary-color;
    }
  }
}


.carrusel-section {
  width: @carrusel-width;
  height: @carrusel-height;
  position: relative;
  overflow: hidden;

  ul {
    display: flex;
    padding: 0;
    transition: @transition-time ;

    li {
      list-style: none;
      width: @carrusel-width;
      flex-shrink: 0;

      img {
        width: 100%;
        height: @carrusel-height;
        object-fit: cover;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  .radio-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    label {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: @secondary-color;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
    }
  }

  // Cambiando el desplazamiento de acuerdo al radio seleccionado
  input#radio1:checked ~ ul {
    transform: translateX(0%);
  }

  input#radio2:checked ~ ul {
    transform: translateX(-100%);
  }

  input#radio3:checked ~ ul {
    transform: translateX(-200%);
  }
}