* {
    margin: 0;
    padding: 0;
    background-color: white;
}

hgroup {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    background-color: black;
    color: white;
    font-size: 48px; /* Tamaño de la letra */
    font-family: 'Arial', sans-serif; /* Fuente de la letra */
    font-weight: bold; /* Hace que la letra sea más gruesa */
    letter-spacing: 2px; /* Espacio entre las letras */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu ul, li {
    display: flex;
}

.nav-menu img {
    width: 65px;
    margin: 0px 15px;
}

.nav-menu a {
    display: flex;
    margin: 15px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    box-shadow: 5px 5px 5px gray;
}

.nav-menu a:hover {
    background-color: black;
    color: white;
}

